
<h2>Tier Ranges</h2>
<br>
<div *ngIf="tableArr.length === 0"> 
  <button (click)="createTier(1,99)">Add Tier</button>
  <br>
</div>
<br>
<div>
  <table style="width:100%">
    <tr>
      <th>Tier Name</th>
      <th>Min Qty.</th>
      <th>Max Qty.</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let tier of tableArr ; let i=index">
      <td>{{tier.unit}}</td>
      <td><span *ngIf = "!tier.isEditMode">{{tier.min}}</span>
      <input *ngIf = "tier.isEditMode" type="number" [(ngModel)]="qtyMin"/>
      </td>
      <td><span *ngIf = "!tier.isEditMode">{{tier.max}}</span>
        <input *ngIf = "tier.isEditMode" type="number" [(ngModel)]="qtyMax"/>
      </td>
      <td><button ngClass="orange" *ngIf = "!tier.isEditMode && i !== tableArr.length - 1" (click)="editMode(i)" [disabled]="isDisabled">Edit</button>
        <button ngClass="green" *ngIf = "tier.isEditMode  && i !== tableArr.length - 1" (click)="modifyTier(i, qtyMin, qtyMax)">Save</button>
      </td>
    </tr>
  </table>
</div>